{% include 'header.html' %}

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="image main" data-position="center">
									<img src="static/images/mountain.jpeg" alt="" />
								</div>
								<div class="container">
									<header class="major">
										<h2>Edward Hayes</h2>
										<p>Junior Software Developer</p>
									</header>
									<p>Creative professional with four year history of success in technical support seeking continued growth in software development. Reputation for evidence-based decision making, analytical vision, and accountability. Passionate about software industry and excited about educational opportunities.</p>
								</div>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="container">
									<h3>Skills</h3>
									<ul class="feature-icons">
										<li class="icon solid fa-code"><h4>Programming</h4>
											<p><em>Python, Golang, Tkinter, Pandas, Selenium, Beautiful Soup, Appium</em></p></li>
										<li class="icon solid fa-globe"><h4>Web Development</h4>
											<p><em>HTML/CSS , JS,  Flask, Jinja, Bootstrap</em></p></li>
										<li class="icon solid fa-database"><h4>Database Skills</h4>
											<p><em>SQL, Looker, Redash</em></p></li>
										<li class="icon solid fa-toolbox"><h4>Tools</h4>
											<p><em>Command Line, Jira, Confluence, GitHub, VS Code,  ZenDesk, SalesForce</em></p></li>

									</ul>
								</div>
							</section>

						<!-- Three -->
							<section id="three">
								<div class="container">
									<h3>Software Projects</h3>
									<div class="features">
										<article>
											<a href="https://github.com/edward-hayes/clock-retro-futuristic" class="image"><img src="static/images/clock-80s.png" alt="clock-retro-futuristic" /></a>
											<div class="inner">
												<h4>FitBit Versa 80s Clock App</h4>
												<p><em>Javascript, SVG/ CSS</em></p>
												<p>Personal clock with time, heart rate, steps, calories, date & week day. Practiced techniques to make it more battery efficient.</p>
											</div>
										</article>
										<article>
											<a href="https://github.com/edward-hayes/clock-harley-davidson" class="image"><img src="static/images/clock-hr.png" alt="clock-harley-davidson" /></a>
											<div class="inner">
												<h4>FitBit Versa Harley Davidson Clock App</h4>
												<p><em>Javascript, SVG/ CSS</em></p>
												<p>Sometimes you just got to do something nice for Dad. Similar code and functionality of the 80s clock app above, but has an analog clock face for an added challenge. The minute clock ticks change color for added visibility.</p>
											</div>
										</article>
										<article>
											<img class="image" src="static/images/quickbooks_push.png" alt="quickbooks-push" />
											<div class="inner">
												<h4>QuickBooks Push Shift Tool</h4>
												<p><em>Python, Selenium</em></p>
												<p>Automates a common and very click-heavy browser task. Saves support hours per request, extends what support was previously able to offer, and prevents data loss</p>
											</div>
										</article>
										<article>
											<img class="image" src="static/images/dedupe_customers.png" alt="dedupe-customers" />
											<div class="inner">
												<h4>Merge Duplicate Customers in Bulk</h4>
												<p><em>Python, Selenium, Tkinter</em></p>
												<p>Extends an existing register feature for merging customer records. Unlocks Support's ability to assist retailers with large number of customer records</p>
											</div>
										</article>
										<article>
											<img class="image" src="static/images/link_jira.png" alt="link-jira" />
											<div class="inner">
												<h4>ZenDesk <> Jira Integration Bulk Link Tool</h4>
												<p><em>Python, Selenium</em></p>
												<p>Iterates through list of ZenDesk tickets and links them to their respective Jira ticket</p>
											</div>
										</article>
										<article>
											<a href="https://github.com/vend/vend-cli" class="image"><img src="static/images/vendcli.png" alt="vendcli" /></a>
											<div class="inner">
												<h4>VendCli</h4>
												<p><em>Golang</em></p>
												<p>Submitted bug fixes and added functionality to popular cli support tool. Updated libraries, added commands, improved distribution path, honored feature requests</p>
											</div>
										</article>
										<article>
											<img class="image" src="static/images/retry_decorator.png" alt="retry-decorator" />
											<div class="inner">
												<h4>Selenium Starter Code</h4>
												<p><em>Python, Selenium</em></p>
												<p>Starter code for Python Selenium projects for a quicker start. Features ChromeDriverManager to solve Chrome version discrepancies, retry decorator to solve contingencies, and with statement to clean up browser after code completion (very useful during testing) </p>

											</div>
											<div class="collapsible">
												<div class="row">
													<div class="col-11">
														<h4 class="code-preview">Code</h4>
													</div>
													<div class="col-1">
														<i class="fa-solid fa-chevron-down"></i>
													</div>
												</div>
											</div>
											<pre class="hidden"><code>from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

def retry(attempts: int):
    def wrapper_function(function):
        def try_it(*args):
            attempt = 0
            while attempt < attempts:
                try:
                    return function(*args)
                except Exception as e:
                    attempt += 1
                    print(f"error: {e}\n\nRetrying.. \n")
            print(f"Failed after {attempt} attempts")
        return try_it
    return wrapper_function
	
chrome_excutable = ChromeDriverManager()
service = Service(chrome_excutable.install())

class Driver(webdriver.Chrome):
    def __init__(self) -> None:
        super().__init__(service=service)
        self.implicitly_wait(60)
        self.wait = WebDriverWait(self,20)
		
	def example_function1(self):
		pass

	def example_function2(self):
		pass

with Driver() as driver:
	@retry(3)
	def run_selenium():
		driver.example_function1()
		driver.example_function2()

	run_selenium()
	</code></pre>
										</article>
										
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four">
								<div class="container">
								<h3>Employment History</h3>
								<h4 class="workplace">Lightspeed Commerce Inc</h4>
									<div class="job-wrapper">
										<div class="resume-item">
											<div class="collapsible active">
												<div class="row">
													<div class="col-11">
														<div class="row">
															<div class="col-8 col-12-xsmall">
																<h4>Manager, Support Escalations</h4>
															</div>
															<div class="col-4 col-12-xsmall">
																<span class="job-date">Jan 2022 - Present</span>
															</div>
														</div>
													</div>
													<div class="col-1">
														<i class="fa-solid fa-chevron-down"></i>
													</div>
												</div>
											</div>
											<div class="content">
												<div class="border-left"></div>
												<ul>
													<li>Led team of 11 technical escalation support agents: taught Jira ticket submission, improved ZenDesk macros, hosted trainings in sql, new relic, vlookup, to unify level of knowledge amongst escalation agents. Reduced open escalation queue</li>
													<li>Advocated for improved feature request/product enhancement workflow, advocated for improved outage response process, improved escalation process</li>
													<li>Contributed massively towards growth of internal documentation - improved overall support knowledge, reduced volume of escalations</li>
													<li>Wrote multiple one-off python scripts to fix specific  behavior</li>
												</ul>
											</div>
										</div>
										<div class="resume-item">
											<div class="collapsible">
												<div class="row">
													<div class="col-11">
														<div class="row">
															<div class="col-8 col-12-xsmall">
																<h4>Tech Lead</h4>
															</div>
															<div class="col-4 col-12-xsmall">
																<span class="job-date">Nov 2020 - Jan 2022</span>
															</div>
														</div>
													</div>
													<div class="col-1">
														<i class="fa-solid fa-chevron-down"></i>
													</div>
												</div>
											</div>
											<div class="content hidden">
											<div class="border-left"></div>
												<ul>
													<li>Submitted 300+ replicatable bug tickets </li>
													<li>Ensured support readiness for multiple product releases - wrote internal and external articles, how-tos, hosted trained sessions, organized customer feedback to development</li>
													<li>Created SQL Manual of common commands to query register database, crash logs, aws event db</li>
													<li>Wrote Selenium scripts to test and replicate BackOffice bugs</li>
												</ul>
											</div>
										</div>
									</div>	
								<h4 class="workplace">ShopKeep By Lightspeed</h4>
									<div class="job-wrapper">
										<div class="resume-item">
											<div class="collapsible">
												<div class="row">
													<div class="col-11">
														<div class="row">
															<div class="col-8 col-12-xsmall">
																<h4>Senior Technical Support Specialist</h4>
															</div>
															<div class="col-4 col-12-xsmall">
																<span class="job-date">Mar 2020 - Nov 2020</span>
															</div>
														</div>
													</div>
													<div class="col-1">
														<i class="fa-solid fa-chevron-down"></i>
													</div>
												</div>
											</div>
											<div class="content hidden">
											<div class="border-left"></div>
												<ul>
													<li>Responsible for training and delegating duties to Technical Support Specialists</li>
													<li>Reduced time-to-resolution on common escalations</li>
												</ul>
											</div>
										</div>
										<div class="resume-item">
											<div class="collapsible">
												<div class="row">
													<div class="col-11">
														<div class="row">
															<div class="col-8 col-12-xsmall">
																<h4>Customer Care Advisor, QA & Beta Hybrid</h4>
															</div>
															<div class="col-4 col-12-xsmall">
																<span class="job-date">Aug 2019 - Mar 2020</span>
															</div>
														</div>
													</div>
													<div class="col-1">
														<i class="fa-solid fa-chevron-down"></i>
													</div>
												</div>
											</div>
											<div class="content hidden">
											<div class="border-left"></div>
												<ul>
													<li>Wrote Google Sheets Apps Scripts for common support sheets tasks: load templates, find duplicates in columns, and convert item types.</li>
												</ul>
											</div>
										</div>
										<div class="resume-item">
											<div class="collapsible">
												<div class="row">
													<div class="col-11">
														<div class="row">
															<div class="col-8 col-12-xsmall">
																<h4>Customer Care Advisor</h4>
															</div>
															<div class="col-4 col-12-xsmall">
																<span class="job-date">Jan 2019 - Aug 2019</span>
															</div>
														</div>
													</div>
													<div class="col-1">
														<i class="fa-solid fa-chevron-down"></i>
													</div>
												</div>
											</div>
											<div class="content hidden">
											<div class="border-left"></div>
												<ul>
													<li>Won yearly competition in CSTAT, product knowledge, and up-sells.</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</section>

						<!-- Five -->
							<section id="five">
								<div class="container">
									<h3>Contact Me</h3>
									<form method="POST" action="{{ url_for('home') }}" novalidate>
										{{ form.csrf_token }}
										<div class="row gtr-uniform">
											<div class="col-6 col-12-xsmall">
												{{ form.name(placeholder="Name") }}
												{% if form.name.errors %}
        										<ul class="errors">
													{% for error in form.name.errors %}
														<li>{{ error }}</li>
													{% endfor %}
												</ul>
    											{% endif %}
											</div>
											<div class="col-6 col-12-xsmall">
												{{ form.email(placeholder="Email") }} 
												{% if form.email.errors %}
        										<ul class="errors">
													{% for error in form.email.errors %}
														<li>{{ error }}</li>
													{% endfor %}
												</ul>
    											{% endif %}
											</div>
											<div class="col-12">
												{{form.subject(placeholder="Subject")}}
												{% if form.subject.errors %}
        										<ul class="errors">
													{% for error in form.subject.errors %}
														<li>{{ error }}</li>
													{% endfor %}
												</ul>
    											{% endif %}
											</div>
											<div class="col-12">
												{{form.message(placeholder="Message")}}
												{% if form.message.errors %}
        										<ul class="errors">
													{% for error in form.message.errors %}
														<li>{{ error }}</li>
													{% endfor %}
												</ul>
    											{% endif %}
											</div>
											<div class="col-12">
												<ul class="actions">
													<li>{{form.submit(class="primary")}}</li>
												</ul>
											</div>
										</div>
									</form>
								</div>
							</section>

					</div>
{% include 'footer.html' %}