{% include 'header.html' %}

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="image main" data-position="center">
									<img src="static/images/mountain.jpeg" alt="" />
								</div>
								<div class="container">
									<header class="major">
										<h2>Edward Hayes</h2>
										<p>Software Developer</p>
									</header>
									<p>Self-taught and independently driven professional that thrives in dynamic and innovative environments. Committed to continuous improvement and meticulous attention to detail, which have garnered outstanding reviews from supervisors and earned frequent promotions. Eager to embark on a career in software development, a passion that has not only been a career pursuit but also a longstanding avocation. Fluidly transitions between individual contributor and lead roles and would be a valuable addition to any team or project./p>
								</div>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="container">
									<h3>Skills</h3>
									<ul class="feature-icons">
										<li class="icon solid fa-code"><h4>Programming</h4>
											<p><em>Python, Golang, Tkinter, Pandas, Selenium, Beautiful Soup, Appium</em></p></li>
										<li class="icon solid fa-globe"><h4>Web Development</h4>
											<p><em>HTML/CSS , JS,  Flask, Jinja, Bootstrap</em></p></li>
										<li class="icon solid fa-database"><h4>Database Skills</h4>
											<p><em>SQL, Looker, Redash</em></p></li>
										<li class="icon solid fa-toolbox"><h4>Tools</h4>
											<p><em>Command Line, Jira, Confluence, GitHub, VS Code,  ZenDesk, SalesForce</em></p></li>

									</ul>
								</div>
							</section>

						<!-- Three -->
							<section id="three">
								<div class="container">
									<h3>Software Projects</h3>
									<div class="features">
										<article>
											<a href="https://github.com/edward-hayes/clock-retro-futuristic" class="image"><img src="static/images/clock-80s.png" alt="clock-retro-futuristic" /></a>
											<div class="inner">
												<h4>FitBit Versa 80s Clock App</h4>
												<p><em>Javascript, SVG/ CSS</em></p>
												<p>Personal clock with time, heart rate, steps, calories, date & week day. Practiced techniques to make it more battery efficient.</p>
											</div>
										</article>
										<article>
											<a href="https://github.com/edward-hayes/clock-harley-davidson" class="image"><img src="static/images/clock-hr.png" alt="clock-harley-davidson" /></a>
											<div class="inner">
												<h4>FitBit Versa Harley Davidson Clock App</h4>
												<p><em>Javascript, SVG/ CSS</em></p>
												<p>Sometimes you just got to do something nice for Dad. Similar code and functionality of the 80s clock app above, but has an analog clock face for an added challenge. The minute clock ticks change color for added visibility.</p>
											</div>
										</article>
										<article>
											<img class="image" src="static/images/quickbooks_push.png" alt="quickbooks-push" />
											<div class="inner">
												<h4>QuickBooks Push Shift Tool</h4>
												<p><em>Python, Selenium</em></p>
												<p>Automates a common and very click-heavy browser task. Saves support hours per request, extends what support was previously able to offer, and prevents data loss</p>
											</div>
										</article>
										<article>
											<img class="image" src="static/images/dedupe_customers.png" alt="dedupe-customers" />
											<div class="inner">
												<h4>Merge Duplicate Customers in Bulk</h4>
												<p><em>Python, Selenium, Tkinter</em></p>
												<p>Extends an existing register feature for merging customer records. Unlocks Support's ability to assist retailers with large number of customer records</p>
											</div>
										</article>
										<article>
											<img class="image" src="static/images/link_jira.png" alt="link-jira" />
											<div class="inner">
												<h4>ZenDesk <> Jira Integration Bulk Link Tool</h4>
												<p><em>Python, Selenium</em></p>
												<p>Iterates through list of ZenDesk tickets and links them to their respective Jira ticket</p>
											</div>
										</article>
										<article>
											<a href="https://github.com/vend/vend-cli" class="image"><img src="static/images/vendcli.png" alt="vendcli" /></a>
											<div class="inner">
												<h4>VendCli</h4>
												<p><em>Golang</em></p>
												<p>Submitted bug fixes and added functionality to popular cli support tool. Updated libraries, added commands, improved distribution path, honored feature requests</p>
											</div>
										</article>
										<article>
											<img class="image" src="static/images/retry_decorator.png" alt="retry-decorator" />
											<div class="inner">
												<h4>Selenium Starter Code</h4>
												<p><em>Python, Selenium</em></p>
												<p>Starter code for Python Selenium projects for a quicker start. Features ChromeDriverManager to solve Chrome version discrepancies, retry decorator to solve contingencies, and with statement to clean up browser after code completion (very useful during testing) </p>

											</div>
											<div class="collapsible">
												<div class="row">
													<div class="col-11">
														<h4 class="code-preview">Code</h4>
													</div>
													<div class="col-1">
														<i class="fa-solid fa-chevron-down"></i>
													</div>
												</div>
											</div>
											<pre class="hidden"><code>from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

def retry(attempts: int):
    def wrapper_function(function):
        def try_it(*args):
            attempt = 0
            while attempt < attempts:
                try:
                    return function(*args)
                except Exception as e:
                    attempt += 1
                    print(f"error: {e}\n\nRetrying.. \n")
            print(f"Failed after {attempt} attempts")
        return try_it
    return wrapper_function
	
chrome_excutable = ChromeDriverManager()
service = Service(chrome_excutable.install())

class Driver(webdriver.Chrome):
    def __init__(self) -> None:
        super().__init__(service=service)
        self.implicitly_wait(60)
        self.wait = WebDriverWait(self,20)
		
	def example_function1(self):
		pass

	def example_function2(self):
		pass

with Driver() as driver:
	@retry(3)
	def run_selenium():
		driver.example_function1()
		driver.example_function2()

	run_selenium()
	</code></pre>
										</article>
										
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four">
								<div class="container">
								<h3>Employment History</h3>
								<h4 class="workplace">Lightspeed Commerce Inc</h4>
									<div class="job-wrapper">
										<div class="resume-item">
											<div class="collapsible active">
												<div class="row">
													<div class="col-11">
														<div class="row">
															<div class="col-8 col-12-xsmall">
																<h4>Manager, Support Escalations</h4>
															</div>
															<div class="col-4 col-12-xsmall">
																<span class="job-date">Jan 2022 - Present</span>
															</div>
														</div>
													</div>
													<div class="col-1">
														<i class="fa-solid fa-chevron-down"></i>
													</div>
												</div>
											</div>
											<div class="content">
												<div class="border-left"></div>
												<ul>
													<li>Established and currently manage a team of 15 technical escalation support agents, building the team from inception to its current structure.</li>
													<li>Initiated and implemented a robust bug tracking and prioritization process, transitioning from informal communication through Slack to a systematic approach using Jira. This system paired with weekly prioritization meetings with Product resulted in doubling the amount of resolved issues year-over-year</li>
													<li>Pioneered the development of internal documentation using confluence, fostering the creation of hundreds of articles that significantly enhanced overall support knowledge.</li>
													<li>Introduced a points-based system with clearly defined job responsibilities and duties, promoting a fair and balanced job duties for escalation agents. This innovative system has improved team efficiency and accountability.</li>
													<li>Developed multiple one-off Python and Golang scripts to address specific behavioral issues, enabling solutions to problems that were previously considered insurmountable for retailers. Examples include deduplicating a database of 130K records, rectifying and syncing 500 errored sales into sales history, and constructing custom CSV exports for high Monthly Recurring Revenue (MRR) retailers. These interventions expanded the range of support services provided and increased customer satisfaction.</li>
													<li>Took over maintenance of several support tools that had been neglected for years. Substantially revitalized and updated these tools, including a command line tool for interacting with the REST API, a Chrome web browser extension, and a login/debug path on the iOS register, performing bug fixes and adding functionality. Additionally, held trainings on how to maintain them by teaching programming skills to team members, fostering their career development and guaranteeing the sustained maintenance of the tools.</li>
												</ul>
											</div>
										</div>
										<div class="resume-item">
											<div class="collapsible">
												<div class="row">
													<div class="col-11">
														<div class="row">
															<div class="col-8 col-12-xsmall">
																<h4>Tech Lead</h4>
															</div>
															<div class="col-4 col-12-xsmall">
																<span class="job-date">Nov 2020 - Jan 2022</span>
															</div>
														</div>
													</div>
													<div class="col-1">
														<i class="fa-solid fa-chevron-down"></i>
													</div>
												</div>
											</div>
											<div class="content hidden">
											<div class="border-left"></div>
												<ul>
													<li>Submitted the most amount of Jira bug tickets from anyone in Support (300+) </li>
													<li>Prepared Support teams for multiple product releases by creating internal and external articles, how-to guides, and hosting training sessions.</li>
													<li>Organized and compiled customer feedback for effective communication to development. Notably for the company's pivot to ecommerce offerings during covid, in which we saw over 500 sign ups per day.</li>
													<li>Compiled an SQL Manual of common commands to query the register database, crash logs, and AWS event database.</li>
													<li>Wrote Selenium scripts to test and replicate BackOffice bugs</li>
												</ul>
											</div>
										</div>
									</div>	
								<h4 class="workplace">ShopKeep By Lightspeed</h4>
									<div class="job-wrapper">
										<div class="resume-item">
											<div class="collapsible">
												<div class="row">
													<div class="col-11">
														<div class="row">
															<div class="col-8 col-12-xsmall">
																<h4>Senior Technical Support Specialist</h4>
															</div>
															<div class="col-4 col-12-xsmall">
																<span class="job-date">Mar 2020 - Nov 2020</span>
															</div>
														</div>
													</div>
													<div class="col-1">
														<i class="fa-solid fa-chevron-down"></i>
													</div>
												</div>
											</div>
											<div class="content hidden">
											<div class="border-left"></div>
												<ul>
													<li>Responsible for training and delegating duties to Technical Support Specialists</li>
													<li>Significantly reduced time-to-resolution on common escalations</li>
													<li>Unlocked steps to replicate multiple year-old "known" issues ultimately leading to their resolution</li>
												</ul>
											</div>
										</div>
										<div class="resume-item">
											<div class="collapsible">
												<div class="row">
													<div class="col-11">
														<div class="row">
															<div class="col-8 col-12-xsmall">
																<h4>Customer Care Advisor, QA & Beta Hybrid</h4>
															</div>
															<div class="col-4 col-12-xsmall">
																<span class="job-date">Aug 2019 - Mar 2020</span>
															</div>
														</div>
													</div>
													<div class="col-1">
														<i class="fa-solid fa-chevron-down"></i>
													</div>
												</div>
											</div>
											<div class="content hidden">
											<div class="border-left"></div>
												<ul>
													<li>Wrote Google Sheets Apps Scripts for common support sheets tasks: load templates, find duplicates in columns, and convert item types.</li>
												</ul>
											</div>
										</div>
										<div class="resume-item">
											<div class="collapsible">
												<div class="row">
													<div class="col-11">
														<div class="row">
															<div class="col-8 col-12-xsmall">
																<h4>Customer Care Advisor</h4>
															</div>
															<div class="col-4 col-12-xsmall">
																<span class="job-date">Jan 2019 - Aug 2019</span>
															</div>
														</div>
													</div>
													<div class="col-1">
														<i class="fa-solid fa-chevron-down"></i>
													</div>
												</div>
											</div>
											<div class="content hidden">
											<div class="border-left"></div>
												<ul>
													<li>Won yearly competition in CSTAT, product knowledge, and up-sells.</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</section>

						<!-- Five -->
							<section id="five">
								<div class="container">
									<h3>Contact Me</h3>
									<form method="POST" action="{{ url_for('home') }}" novalidate>
										{{ form.csrf_token }}
										<div class="row gtr-uniform">
											<div class="col-6 col-12-xsmall">
												{{ form.name(placeholder="Name") }}
												{% if form.name.errors %}
        										<ul class="errors">
													{% for error in form.name.errors %}
														<li>{{ error }}</li>
													{% endfor %}
												</ul>
    											{% endif %}
											</div>
											<div class="col-6 col-12-xsmall">
												{{ form.email(placeholder="Email") }} 
												{% if form.email.errors %}
        										<ul class="errors">
													{% for error in form.email.errors %}
														<li>{{ error }}</li>
													{% endfor %}
												</ul>
    											{% endif %}
											</div>
											<div class="col-12">
												{{form.subject(placeholder="Subject")}}
												{% if form.subject.errors %}
        										<ul class="errors">
													{% for error in form.subject.errors %}
														<li>{{ error }}</li>
													{% endfor %}
												</ul>
    											{% endif %}
											</div>
											<div class="col-12">
												{{form.message(placeholder="Message")}}
												{% if form.message.errors %}
        										<ul class="errors">
													{% for error in form.message.errors %}
														<li>{{ error }}</li>
													{% endfor %}
												</ul>
    											{% endif %}
											</div>
											<div class="col-8">
												<ul class="actions">
													<li>{{ captcha_html(captcha) | safe }}</li>
													{% if captcha_error %}
													<span class="errors"><li>Wrong captcha, try again</li></span>
													{% endif %}
												</ul>
											</div>
											<div class="col-4">
												<ul class="actions">
													<li>{{form.submit(class="primary")}}</li>
												</ul>
											</div>
										</div>
									</form>
								</div>
							</section>

					</div>
{% include 'footer.html' %}